{% extends 'base.html' %}
{% block title %} Password Reset Complete {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
        background: linear-gradient(to right, #536dfe, #8c9eff);
        font-family: 'Poppins', sans-serif;
        color: #333;
    }
</style>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6">
                <div class="card border bg-white p-3">
                    <h3 class="card-title text-center">Password Reset Complete!</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Now you can login with your new password</h4>
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-block">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
